*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
	background-color: #ffffff;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}
header{
    height: 95vh;
    background-image: url("./images/content-pixie.jpg");
	background-size: cover;
	background-position: 50% 50%;
	background-color: rgba(6, 27, 230, .4);
    background-blend-mode: overlay;
}
#logo-box{
	display: flex;
	font-size: 1.7em;
	font-weight: 600px;
	position: absolute;
	background-color: #ff6100;
	padding: 10px;
    top: 5%;
    left: 2%;
	margin: 2%;
}
li{
	list-style-type: none;
}
.nav-items{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	position: absolute;
	font-size: 1em;
	top: 5%;
	right: 5%;
	margin: 2%;
}

.orange-box{
	background-color: #ff6100;
	padding: 12px;
}
.blue-box{
	background-color: rgb(5, 5, 168);
	padding: 12px;
}
a:link, a:visited{
	text-decoration: none;
	color: white;
}

.header-content{
	justify-content: center;
    text-align: center;
	align-items: center;
	padding: 20% 0 15% 0;
}
h1{
	color: white;
	font-size: 2em;
}
.text-box-1{
	margin-bottom: 15px;
}
.text-box-2{
	font-size: 1.1em;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
}
.contact-button{
	font-size: .9em;
	background-color: #ff6100;
	padding: 10px;
	color: #ffffff;
	border:none;
	border-radius: 4px;
	margin-right: 5px;
}
 .services-button{
	font-size: .9em;
	background-color: blue;
    padding: 10px;
	color: #ffffff;
	border:none;
	border-radius: 4px;
	margin-left: 5px;
}
/* MEDIA QUERY FOR THE HEADER SECTION*/

@media screen and (max-width: 768px){
	.nav-items{
		width: 80%;
    	font-size: smaller;
		margin-right: -5%;
	}
	#logo-box{
		font-size: 2em;
		padding: 5px;
		margin-left: 5%;
	}
	h1{
		font-size: 1.7em
	}
	.header-content{
		padding: 30% 0 15% 0;
	}
	.text-box-2{
		font-size: .9em;
	}
	.header-button{
		padding: 8px;
	}
}
@media screen and (max-width: 480px){
	.nav-items{
		/* width: 70%;
    	font-size: xx-small;
		margin-right: -2%; */
		display: none;

	}
	#logo-box{
		font-size: 1em;
		padding: 10px;
		margin-left: 8%;
	}
	h1{
		font-size: 1.2em
	}
	.header-content{
		padding: 55% 0 10% 0;
	}
	.text-box-2{
		font-size: .8em;
	}
	.header-button{
		padding: 5px;
		font-size: xx-small;
	}
}

.container1{
	position: relative;
	display: flex;
    flex-direction: row;
    justify-content: center;
	margin-top: 5%;	
}
.white-box{
	padding: 16px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 400px;
    height: 200px;
}
.img-box{
	background-image: url("./images/capture.PNG");
	background-color: rgba(35, 53, 226, 0.8);
	background-blend-mode: overlay;
	background-size: cover;
	height: 300px;
	width: 350px;
	margin-right: 10px;
	color: #ffffff;
	position: relative;
}
.img-box:last-child{
	background-image: url("./images/excel.jpg"); 
	opacity: .8;
}

h2{
    font-size: 1.2em;
    font-weight: bold;
}
.p-heading{
	font-size: 1.2em;
	font-weight: 400;
}
button{
    font-size: .9em;
	background-color: blue;
    padding: 8px;
	color: #ffffff;
	border: none;
	border-radius: 4px;
}
.sub-box{
position: absolute;
bottom: 0;
left: 0;
padding: 10px;
background-color: rgba(0, 0, 255, 0.507);
}
#arrow{
	padding: 8px;
	font-size: 2.5em;
	background-color: #ff6100;
	position: absolute;
	right: 0;
}

/* MEDIA QUERY FOR THE FIRST SECTION*/

@media screen and (max-width: 768px){
	.container1{
		margin-top: 10%;	}
	.white-box{
		margin-right: 10px;
		margin-top: 0;
	}
	.left{
		padding: 5%;
	}
	.right{
		margin-right: -6%
	}
	
	#arrow{
		top: 0;
    	padding: 4px;
    	font-size: 2em;
	}
}
@media screen and (max-width: 480px){
	.container1{
		margin-top: 10%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		}
	.white-box{
		width: 100%;
		margin-left: 0;
	}
	.left{
		width: 100%;
		margin-top: 20%;
	}
	.right{
		display: none;
	}
}

/* STYLE FOR SECOND SECTION */

section#two{
	padding: 2rem 0 2rem 0;
	background: #0000ff;
	margin: 7rem 0 4rem 0;
}
.two-inner{
	display: flex;
	padding-left: 25px;
  }

.col{
	padding: 0 2rem 0 2rem;
	width: 40%;
}
.two-image{
	background-image: url('./images/adult-business-people-businessmen-1243524.jpg');
	min-height: 500px;
	background-size: cover;
	background-position: top center;
	margin-top: -4rem;
	margin-bottom: -4rem;
	position: relative;
}
.image-tag{
	background-color: #ff6100;
	color: #ffffff;
	padding: 1rem;
	width: 70%;
	position: absolute;
	bottom: 3rem;
}
.two-content{
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}
.col{
	color: #ffffff;
	right: 60%;
}
.read-button{
	font-size: .9em;
	background-color: #ff6100;
	padding: 10px;
	border:none;
	border-radius: 4px;
}

/* MEDIA QUERY FOR SECOND SECTION*/

@media screen and (max-width: 768px){
	.col{
		width: 50%;
		padding: 0 2rem 0 2rem;
	}
	.two-inner{
		padding-left: 0;
	}
	.image-tag{
		width: 100%;
		bottom: 7%;
		font-size: smaller;
	}
	.read-button{
		padding: 8px;
	}
}

@media screen and (max-width: 480px){
	.two-inner{
		display: flex;
		flex-direction: column-reverse;
	}
	section#two{
		background: none;
		margin: 0 0 4rem 0;
	}
	.col{
		width: 100%;
		padding: 1rem 0 1rem 0;
		color: black;
	}
	.two-image{
		min-height: 300px;
		
	}
	.image-tag {
		padding: 2%;
		bottom: 0%;
	}
	.content{
		margin-left: 0;
		margin-bottom: 5em;
	}
	h2{
		font-size: 1em;
	}
	.mis-header{
		font-size: 1.2em;
	}
}

.fourth-header{
	text-align: center;
}

.mis-header{
	font-size: 1.5em;
	font-weight: bold;
}
.small-head{
	font-size: 1.2em;
}

.box-container{
	padding: 10px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 960px;
}
.box{
	border: 1px solid #d2caca;
	padding: 20px;
	margin: 10px;
	width: 250px;
	line-height: 1.2em;
}
#boxB{
	border-bottom: 2px #ff6100;
	border-bottom-style: double;
}

@media screen and (max-width: 768px){
	.fourth-header{
		margin-top: 7rem;
	}
	.mis-header{
		margin-bottom: 2%;
	}
	.box-container{
		width: 700px;
	}
	.box{
		margin: 1rem;
	}
}

@media screen and (max-width: 480px){
	.fourth-header{
		margin-top: 4rem;
	}
	h2{
		font-size: 1em;
	}
	.mis-header{
		font-size: 1.2em;
	}
	.box-container{
		width: 300px;
	}
	.box{
		width: 100%;
		margin: 3%;
    	padding: -1%;
	}
}


/* .exclusive-container{
	position: relative;
	display: flex;
	margin-top: 5%;	
}
.head-icons-box{
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	height: 300px;;
	padding: 15px;
	margin-left: 18%;
	justify-content: center;
}
.exclusive-title{
	margin-left: 18%;
	margin-top: 35px;
}
/.feat-boxes{
	display: flex;
	width: 60%;
}
.icons-div{
	padding: 16px;
    margin-bottom: 2%;
    height: 200px;
} 
#image-div{
	background-image: url("./images/campaign-creators.jpg");
	background-position: center;
	background-color: rgba(35, 53, 226, 0.8);
	background-blend-mode: overlay;
	background-size: cover;
	height: 500px;
	width: 40%;
	color: #ffffff;
	position: relative;
}
.no-border{
	border-style: none;
	padding: 5px;
	margin: 10px 5px;
	width: 200px;
	line-height: 1.5em;
} */

.metric-container{
	display: flex;
	margin-top: 5%;
	padding: 10px;
	flex-wrap: wrap;
	position: relative;
}
#metric-img{
	background-image: url("./images/metric.PNG");
	width: 376px;
	height: 248px;
	margin-left: 20%;
}
.metric-content{
	padding: 20px;
	width: 35%;
	margin-left: 30px;
}
.playstore-button{
	padding: 10px;
	margin: 10px 10px 10px 0;
	border: none;
	border-radius: 4px;
	background-color: #ff6100;
	font-size: 15px;
	
}
.appstore-button{
	padding: 10px;
	margin: 10px;
	border: none;
	border-radius: 4px;
	font-size: 15px;
}

@media screen and (max-width: 768px){
	#metric-img{
		margin-left: 20px;
		width: 250px;
	}
	.metric-content{
		width: 50%;
		margin-right: 30px;
		padding: 10px;
    	margin-right: 21px;
	}
	.case-container{
		margin-left: 0;
		padding: 0
	}
	.stat1{
		width: 30%;
	}
	.case-img{
		width: 30%;
	}
	.stat1{
		width: 30%;
	}
}
.case-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}
.case-study-head{
	text-align: center;
	margin-top: 5%;
}
.stat1{
	width: 246px;
	height: 376px;
	margin: 2%;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.case-img{
	background-image: url("./images/dims.jpg");
	width: 246px;
	height: 376px;
	margin: 2%;
	text-align: center;
    display: flex;
    flex-direction: column;
	justify-content: center;
	background-position: left;

}
#case-img-text{
	color: #ffffff;
	font-weight: 500;
	line-height: 1.5;
}
.case-button{
	margin: 10px;
	padding: 10px;
}
.stat2{
	width: 246px;
	height: 376px;
	margin: 2%;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.consult-container{
	background-image: url("./images/businessmen.jpg");
	background-size: cover;
	background-color: rgba(18, 33, 168, 0.8);
	background-blend-mode: overlay;
	background-position: center;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
	margin-top: 7%;
}
.showOff-container{
	width: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-inline-start: 20%;
	margin-right: -5%;
}
.showOff-box{
	display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 20px;
	text-align: center;
	width: 200px;
	height: 200px;
	color: #ffffff
}
#showOff-box1{
	margin-right: 10px;
}
#showOff-box2{
	
}
#showOff-box3{
	margin-right: 40px;
}
#showOff-box4{
	
}
.blue{
	background-color: #0000ff69
}
.orange{
	background-color: #ff6100;
}
#large{
	font-size: 30px;
	font-weight: 600;
}
.consult-form{
	background-color: #0000ff;
	margin-top: -3%;
}
#request{
	background-color: #ff6100;
	font-size: 1.2em;
	font-weight: 400px;
	padding: 10px;
	width: 170px;
	margin-top: 10%;
	color: #ffffff;
}
.form{
	display: flex;
	flex-direction: column;
	width: 300px;
	padding: 20px;
	border-radius: 4px;
	color: #ffffff;
}
.field{
	padding: 10px;
	border-radius: 4px;
	border: none;
	background-color: #ddd8d856;
}
#submit{
	padding: 10px;
	border-radius: 4px;
	color: #ffffff;
	font-size: 1em;
	font-weight: 600;
	background-color: #ff6100;
	border: none;
}

.testimonial-head{
	text-align: center;
	margin-top: 5%;
}
.testimonial-body{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.testimonial-img{
    background-image: url("./images/folded-arms.PNG");
    width: 246px;
    height: 300px;
}
.testimonial-parag{
    width: 300px;
    margin: 2%;
    display: flex;
    flex-direction: column;
	justify-content: center;
	
}
.blue-head{
	color: #0000ff;
}
#big-font{
	font-size: 1.2em;
	font-weight: 600;
	color: #aaa6a6;
}
#ceo{
	font-weight: 600;
	color: #aaa6a6;
}
#left-arrow{
	color: #ffffff;
	font-size: 1.5em;
	font-weight: 400;
	background-color: #ff6100;
	padding: 6px;
	margin: 5px;
}
#right-arrow{
	color: #ffffff;
	font-size: 1.5em;
	font-weight: 400;
	background-color: #0000ff;
	padding: 6px;
	margin: 5px;
}

.blog-head{
	text-align: center;
	margin-top: 5%;
}
.blog-container{
	display: flex;
	margin-top: 3%;
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
	justify-content: center;
	align-items: center;
}
.blog-img-box{
	width: 400px;
}
.blog-img{
	background-image: url("./images/colab.png");
	width: 400px;
	height: 300px;
	margin: 1%;
	
}
.blog-button{
	font-size: .9em;
	background-color: #ff6100;
	padding: 10px;
	border: none;
	border-radius: 4px;
}
.text-blocks{
	width: 400px;
	margin: 1%;
	/* display: flex;
	flex-direction: column;
    margin-left: 10px; */
}
.text-block1{
	background-color: #ece7e7;
	padding: 20px;
	margin: 15px;
}
.text-block2{
	background-color: #ff6100;
	padding: 20px;
	margin: 15px;
}
.text-block3{
	background-color: #ece7e7;
	padding: 20px;
	margin: 15px;
}
.white{
	color: #ffffff;
}
.date{
	font-size: 10px;
}
#orange-head-font{
	font-size: 1.1em;
	font-weight: 600;
	color: #ff6100;
}
.blue-head-font{
	font-size: 1.1em;
	font-weight: 600;
	color: #0000ff;
}
.logos{
	display: flex;
	justify-content: center;
	margin: 30px;
	padding: 20px;
}
.logo1{
	width: 150px;
}
.logo2{
	width: 150px;
}
.logo3{
	width: 150px;
}
.logo4{
	width: 150px;
}
.logo5{

}
.financ{
	margin-left: 20%;
}
.footer-container{
	display: flex;
    justify-content: center;
    /* margin: 30px; */
    padding: 20px;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
.content-blocks{
	width: 500px;
}
.bold_list {
	font-weight: bolder;
}
.list_boxes {
	width: 100%;
/* }
ul {
	list-style: none;
	margin: 5px;
}
  ul li {
	margin: 5px;
	font-size: 12px;
}
.footer_form {
	display: flex;
	align-items: center;
}
  
.footer_form input {
	margin: 0;
	border-radius: 0px;
	border: none;
	background-color: rgba(236, 235, 235, 0.938);
}
.footer_nav {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}
.footer_button {
	background-color: #ff6100;
	border: none;
	margin-left: -3px;
	height: 35px;
	z-index: -1;
	width: 40px;
	cursor: pointer;
}
.fa > .fa-paper-plane {
	cursor: pointer;
}
  
.footer_form ::placeholder {
	color: gray;
}
  
.main-footer {
	width: 90%;
	margin: 0 auto;
  
	background: rgba(236, 235, 235, 0.938);
	padding: 0.5rem;
	margin-top: 3rem;
}
  
.main-footer__links {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
.main-footer__link {
	margin: 0.5rem 0;
}
  
.main-footer__link a {
	color: white;
	text-decoration: none;
}
  
  .main-footer__link a:hover,
  .main-footer__link a:active {
	color: #ccc;
} */